{% extends "core/base.html" %}

{% block content %}

<h2> 
<div class="pull-right">
    <a href="{% url 'bookcases:bookcase_edit' bookcase.pk %}">
    Edit
    </a>
</div>

{{ bookcase.name }}</h2>
<hr>
<p class="lead">{{bookcase.description}}</p>

{% if bookshelves %}
<ul class="list-group">
    {% for bookshelf in bookshelves %}

    <li class="list-group-item">
        <div class="pull-right">
        <span class="badge">
            {{bookshelf.book_count}}
            book{{bookshelf.book_count|pluralize}}
        </span>
        </div>
        <a href="{{bookshelf.get_absolute_url}}">
        {{bookshelf.shelf_label}}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No Bookshelves for this bookcase </p>
{% endif %}
{% endblock content %}